<section id="section1">
    <div id="menu">
        <div id="menu-bar" onclick="menuOnClick()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </div>
        <nav class="nav" id="nav">
            <ul>
                <li><a href="{{ path('app_home') }}">Accueil</a></li>
                <li><a href="{{ path('app_article') }}">Blog</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Forum</a>
                    <div class="dropdown-menu">
                        {% for category in categories %}
                            <a href="{{ path('app_topics', {'categoryId': category.id}) }}">{{ category.name }}</a>
                        {% else %}
                            <a href="#">Pas de catégories trouvées</a>
                        {% endfor %}
                    </div>
                </li>
                <li><a href="#">Boutique</a></li>
                <li><a href="{{ path('app_contact') }}">Contact</a></li>
                {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Mon compte</a>
                    <div class="dropdown-menu">
                        <a href="{{ path('app_login') }}">Se connecter</a>
                        <a href="{{ path('app_register') }}">S'enregistrer</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </nav> 
    </div>
    {# Background du animé du menu #}
    <div class="menu-bg" id="menu-bg"></div>
    <img src="{{ asset('/img/manonManuscrit.webp') }}" alt="logo" id="manonLogo">
</section>