<section class="thematiques-section">
    <h4>THEMATIQUES</h4>
    <ul class="thematiques">
        {% for category in categories %}
        <li>
            <a href="{{ path('app_topics', {'categoryId': category.id}) }}">
                {% if category.name == 'Général' %}
                    <img src="{{ asset('img/iconeGeneral.webp') }}" alt="icone général" class="iconeThematique">
                {% elseif category.name == 'Parcours et formation' %}
                    <img src="{{ asset('img/iconeCahier.webp') }}" alt="icone formation" class="iconeThematique">
                {% elseif category.name == 'Matériel et technique' %}
                    <img src="{{ asset('img/iconeFourniture.webp') }}" alt="icone matériel" class="iconeThematique">
                {% elseif category.name == 'Inspiration et recommandation' %}
                    <img src="{{ asset('img/iconeTableau.webp') }}" alt="icone inspi" class="iconeThematique">
                {% endif %}
                {{ category.name }}
            </a>
        </li>
        {% else %}
        <li>Aucune catégorie trouvée.</li>
        {% endfor %}
    </ul>
</section>
