{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="here you can send a formulaire to contact the artist Manon Mangeol">
{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section class="log-contact">
        <div class="centre centre2">
            <h1>Contact</h1>
            {{ form_errors(form) }}

            {{ form_start(form, {'attr': {'id': 'contact-form'}}) }}
                <div class="form-row">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-input form-message'}}) }}
                </div>                
                {{ form_rest(form) }}
                <button type="submit" class="btn-blue g-recaptcha" data-sitekey="reCAPTCHA_site_key" data-callback='onSubmitContact' data-action='submit'>Envoyer</button>
            {{ form_end(form) }}
        </div>
        <div>
            <img src="{{ asset('/img/illustrationContact.PNG') }}" alt="illuContact" id="illuContact">
        </div>

        {# {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %} #}
        
    </section>
{% endblock %}


