{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    {{ form_start(form) }}
        {{ form_label(form.lastName) }}
        {{ form_widget(form.lastName) }}
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName) }}
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_label(form.subject) }}
        {{ form_widget(form.subject) }}
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
        {{ form_rest(form) }}
        <button type="submit">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}
