{# templates/cart/checkout.html.twig #}
{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content=" here we can valid our cart">
{% endblock %}

{% block title %}Finaliser la commande{% endblock %}

{% block body %}
    <section>

            <div class="checkout-form"> 
                <h1>Finaliser la commande</h1>
                {{ form_start(form) }}
                <div class="form-row">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.adresse) }}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(form.codePost) }}
                    {{ form_widget(form.codePost, {'attr': {'class': 'form-input'}}) }}
                </div>                
                {{ form_rest(form) }}
                    <button type="submit" class="btn-blue btn btn-success">Confirmer la commande</button>
                {{ form_end(form) }}
            </div>
    </section>

{% endblock %}

{% block javascripts %}
<script>
    STRIPE_PK="pk_test_51OBMBmJ2xtfHlkDGJsPplbhNtuGXpr24L0TuOFzXEXiMuLHEM01B3knYOaUqPqE5v86f5Y14QdWhyeLonPxKTt5700wPLIiTFq"
</script>
{% endblock %}
