{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="Here we can register to have acces to the site">
{% endblock %}

{% block title %}Register{% endblock %}


{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="log">
        <div class="centre">
            <h1>S'enregistrer</h1>
            <p class="already-registered">
                Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous ici</a>.
            </p>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'attr': {'id': 'register-form'}}) }}
                <div class="form-row">
                    {{ form_label(registrationForm.email) }}
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.nickname) }}
                    {{ form_widget(registrationForm.nickname, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.plainPassword.first) }}
                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.plainPassword.second) }}
                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-input'}}) }}
                </div>
                <div class="form-row">
                    {{ form_label(registrationForm.agreeTerms) }}
                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-checkbox'}}) }} <br>
                    <a href="{{ path('app_mentions') }}"> Mentions légales </a>
                </div>
                <div class="form-row hidden">
                    {{ form_label(registrationForm.middleName) }}
                    {{ form_widget(registrationForm.middleName, {'attr': {'class': 'form-input'}}) }}
                </div>
                <button type="submit" class="btn-blue g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI" data-callback='onSubmit' data-action='submit'>S'enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
        <div>
            <img src="{{ asset('/img/illustrationLogin.webp') }}" alt="illuLogin" id="illuLogin">
        </div>
    </section>

{% endblock %}


