{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="here it's a forum where people can exchange about art with many categories">
{% endblock %}


{% block title %}Liste des catégories{% endblock %}

{% block body %}
<div class="title">
    <h1>Le forum</h1>
</div>
<main class="main-cat">
    <section class="thematiques-section">
        <h4>THEMATIQUES</h4>
        <ul class="thematiques">
            {% for category in categories %}
            <li>
                <a href="{{ path('app_topics', {'categoryId': category.id}) }}">
                    {% if category.name == 'Général' %}
                        <img src="{{ asset('img/iconeGeneral.webp') }}" alt="icone général" class="iconeThematique">
                    {% elseif category.name == 'Parcours et formation' %}
                        <img src="{{ asset('img/iconeCahier.webp') }}" alt="icone formation" class="iconeThematique">
                    {% elseif category.name == 'Matériel et technique' %}
                        <img src="{{ asset('img/iconeFourniture.webp') }}" alt="icone matériel" class="iconeThematique">
                    {% elseif category.name == 'Inspiration et recommandation' %}
                        <img src="{{ asset('img/iconeTableau.webp') }}" alt="icone inspi" class="iconeThematique">
                    {% endif %}
                    {{ category.name }}
                </a>
            </li>
            {% else %}
            <li>Aucune catégorie trouvée.</li>
            {% endfor %}
        </ul>
    </section>

    <section class="middle-section">

            <h3>Les topics les plus vus :</h3>
            {% for topic in mostClickedTopics %}
            <div class="topic-item topic">
                <a href="{{ path('app_posts', {'topicId': topic.id}) }}" class="topic-link">
                    <h3><strong>{{ topic.name }}</strong></h3>
                </a>
                <div class="post-topic">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> {{ topic.getPostCount() }} posts</p>
                    <p>- Créé le {{ topic.dateCreation|date('d-m-Y') }}, par {{ topic.user|username_or_deleted }}</p>
                </div>
            </div>
            {% endfor %}

            <h3>Les derniers topics créés :</h3>
            {% for topic in topics %}
            <div class="topic-item topic">
                <a href="{{ path('app_posts', {'topicId': topic.id}) }}" class="topic-link">
                    <h3><strong>{{ topic.name }}</strong></h3>
                </a>
                <div class="post-topic">
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> {{ topic.getPostCount() }} posts</p>
                    <p>- Créé le {{ topic.dateCreation|date('d-m-Y') }}, par {{ topic.user|username_or_deleted }}</p>
                </div>
            </div>
            {% endfor %}

    </section>

    <section class="rules-section">
        <ul id="rules">
            <li>
                <h5>1. Use correct title formatting</h5>
            </li>

            <li>
                <h5>2. Direct Image/Video Links Only</h5>
            </li>

            <li>
                <h5>3. Do Not Make Multiple Posts</h5>
            </li>

            <li>
                <h5>4. Do Not Post Memes or Low Quality Work</h5>
            </li>

            <li>
                <h5>5. Be Respectful and Stay on Topic</h5>
            </li>
        </ul>
    </section>
</main>
{% endblock %}