{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="here we can see all the product sell by the artist Manon Mangeol">
{% endblock %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

{# <div id="filter-buttons">
    <button class="filter-button" data-classification="all">All</button>
    <button class="filter-button" data-classification="Peinture">Peinture</button>
    <button class="filter-button" data-classification="Photo">Photo</button>
    <button class="filter-button" data-classification="Crochet">Crochet</button>
    <button class="filter-button" data-classification="Installation">Installation</button>
    <button class="filter-button" data-classification="Linogravure">Linogravure</button>
</div> #}

<section class="shop">
    {% for product in products %}
        <div class="product">
            <h3>{{ product.name }}</h3>
            <div class="product-image">
                {% if product.photoProduct|length > 0 %}
                    {% for image in product.photoProduct %}
                        <img src="{{ asset('img/' ~ image.getName()) }}" alt="{{ product.name }}" class="photo-produit">
                    {% endfor %}
                {% else %}
                    <p>No image available</p>
                {% endif %}
            </div>
            <p>{{ product.description|raw }}</p>
            <p>{{ product.price|number_format(2, '.', ',') }} €</p>
            <form action="{{ path('cart_add', {'id': product.id}) }}" method="post">
                <input type="number" name="quantity" value="1" min="1" class="quantity-input">
                <button type="submit" class="add-to-cart">Ajouter au panier</button>
            </form>
            
        </div>
    {% endfor %}
</section>





{% endblock %}