{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content=" here we can see the order details">
{% endblock %}

{% block title %}Commande Réussie{% endblock %}

{% block body %}

{% for message in app.flashes('error') %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('success') %}
<div class="alert alert-danger">{{ message }}</div>
{% endfor %}

    <div class="container">
        <h1>Commande Réussie</h1>
        <p>Merci pour votre commande !</p>

        <div class="order-details">
            <h2>Détails de la Commande</h2>
            <table>
                <tr>
                    <th>Commande numéro</th>
                    <td>{{ commande.reference }}</td>
                </tr>
                <tr>
                    <th>Date de commande</th>
                    <td>{{ commande.dateCommande|date('d-m-Y') }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ commande.lastName }}</td>
                </tr>
                <tr>
                    <th>Prénom</th>
                    <td>{{ commande.firstName }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ commande.email }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ commande.adresse }}, {{ commande.codePost }}</td>
                </tr>
            </table>

            <h3>Articles dans la Commande :</h3>
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th>Prix Unit.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in commande.carts %}
                        <tr>
                            <td>{{ cart.product.name }}</td>
                            <td>{{ cart.quantity }}</td>
                            <td>{{ cart.price|number_format(2, '.', ',') }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p><strong>Total : {{ total|number_format(2, '.', ',') }} €</strong></p>
        </div>

        <div class="download-pdf">
            <a href="{{ path('download_order_pdf', {'id': commande.id}) }}" class="btn-blue">Télécharger le récapitulatif en PDF</a>
        </div>
    </div>
{% endblock %}
