{% extends 'base.html.twig' %}
{% block meta_description %}
<meta name="post" content=" here we can see all the post from a specific topic">
{% endblock %}
{% block title %}Post{% endblock %}

{% block body %}
<h2>{{ topicName }}</h2>
<main class="main-cat">

    {% include "_partials/_thematique.html.twig" %}

    {% for post in posts %}
    <div class="post">
        <p>{{ post.content|raw}}</p>
    </div>
    {% endfor %}

    {{ form_start(form, {'method': 'post'}) }}
    {{ form_widget(form) }}
    <button type="submit">Ajouter le post</button>
    {{ form_end(form) }}

    {% include "_partials/_rules.html.twig" %}
</main>
{% endblock %}