{% extends 'base.html.twig' %}
{% block meta_description %}
<meta name="description"  content="On this page you can see the post related to the topic">
{% endblock %}

{% block javascripts %}
<script src="https://cdn.tiny.cloud/1/wf9m32hoge9fgzzk0h8hap6mwf2v3fiz60uexkh7eh1jqe8t/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        tinymce.init({
            selector: 'textarea.mce', //sélecteur correspond à textarea
            language: 'fr_FR',
            setup: function (editor) {
                editor.on('change', function () {
                    editor.save(); // Synchronise le contenu de TinyMCE avec le textarea à chaque changement
                });
            }
        });

        var form = document.querySelector('.post-form');
        form.addEventListener('submit', function(e) {
            tinymce.triggerSave(); // Synchronise le contenu de TinyMCE avec le textarea avant la soumission
        });
    });
</script>

{% endblock %}

{% block body %}

<main class="main-cat">

    {% include "_partials/_thematique.html.twig" %}

    <section class="middle-post">
        <h2>{{ topicName }}</h2>
        {% for post in pagination %} 
        <div class="post">
            <p>{{ post.user|username_or_deleted }}:</p>
            <p>{{ post.content|raw }}</p>
            <p> Posté le {{ post.dateCreation|date('d-m-Y') }}</p>
        </div>
        {% else %}
        <p>Aucun post trouvé pour ce topic.</p>
        {% endfor %}
        {# {{ dump(pagination) }} #}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    
        {% if app.user %}
        <h3>Ajouter un nouveau post</h3>
        {{ form_start(form, {'method': 'post', 'attr': {'class': 'post-form'}}) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn-blue">Ajouter le post</button>
        {{ form_end(form) }}
        {% else %}
        <p>Vous devez être connecté pour ajouter un post.</p>
        {% endif %}

    </section>

    {% include "_partials/_rules.html.twig" %}
</main>
{% endblock %}
