{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content=" here we can see all the topics">
{% endblock %}

{% block title %}Topics de la catégorie{% endblock %}

{% block body %}
<h1>Topics de la catégorie "{{ categoryName }}"</h1>
<main class="main-cat">

    {% include "_partials/_thematique.html.twig" %}

    <section class="middle-topic">
        {# <ul> #}
            {% for topic in pagination.items %}
                <div class="topic-item topic" data-id="{{ topic.id }}">
                    {# <div class="topic">  #}
                        <a href="{{ path('app_posts', {'topicId': topic.id}) }}" class="topic-link">
                            <h3><strong>{{ topic.name }}</strong></h3>
                        </a>
                        <div class="post-topic">
                            <p><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> {{ topic.getPostCount() }} posts</p>
                            <p>- Créé le {{ topic.dateCreation|date('d-m-Y') }}, par {{ topic.user|username_or_deleted }}</p>
                        </div>
                        {% if topic.locked %}
                            (Verrouillé)
                        {% endif %}
                    {# </div> #}
                    </div>
            {% else %}
                <div>Aucun topic trouvé pour cette catégorie.</div>
            {% endfor %}
        {# </ul> #}
    
        {# Affichage de la pagination #}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    
        <div>
            {% if app.user %}
                <h3>Ajouter un nouveau topic</h3>
                <div class="form-row">
                    {{ form_start(form) }}
                    {{ form_widget(form, {'attr': {'class': 'form-input'}}) }}
                    <button type="submit" class="btn-blue">Ajouter</button>
                    {{ form_end(form) }}
                </div>
            {% else %}
                <p>Vous devez être connecté pour ajouter un topic.</p>
            {% endif %}
            {# <h3>Ajouter un nouveau topic</h3>
            <div class="form-row">
                {{ form_start(form) }}
                {{ form_widget(form, {'attr': {'class': 'form-input'}}) }}
                <button type="submit" class="btn-blue">Ajouter</button>
                {{ form_end(form) }}
            </div> #}
        </div>
    </section>



    {% include "_partials/_rules.html.twig" %}
</main>
{% endblock %}