{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content=" here we can see all the topics">
{% endblock %}

{% block title %}Topics de la catégorie{% endblock %}

{% block body %}
<h1>Topics de la catégorie "{{ categoryName }}"</h1>
<main class="main-cat">

    {% include "_partials/_thematique.html.twig" %}

    <section class="middle-topic">
        <ul>
            {% for topic in pagination.items %}
                <li class="topic-item" data-id="{{ topic.id }}">
                    <div class="topic"> 
                        <a href="{{ path('app_posts', {'topicId': topic.id}) }}" class="topic-link">
                            <h3><strong>{{ topic.name }}</strong></h3>
                        </a> 
                        <p>- Créé le {{ topic.dateCreation|date('d-m-Y') }}, par {{ topic.user|username_or_deleted }}</p>
                        {% if topic.locked %}
                            (Verrouillé)
                        {% endif %}
                    </div>
                </li>
            {% else %}
                <li>Aucun topic trouvé pour cette catégorie.</li>
            {% endfor %}
        </ul>
    
        {# Affichage de la pagination #}
        <div class="pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    
        <div>
            <h3>Ajouter un nouveau topic</h3>
            <div class="form-row">
                {{ form_start(form) }}
                {{ form_widget(form, {'attr': {'class': 'form-input'}}) }}
                <button type="submit" class="btn-blue">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    


    {% include "_partials/_rules.html.twig" %}
</main>
{% endblock %}