{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="topic" content=" here we can see all the topics">
{% endblock %}

{% block title %}Topics de la catégorie{% endblock %}

{% block body %}
<h1>Topics de la catégorie "{{ categoryName }}"</h1>
<main class="main-cat">

{% include "_partials/_thematique.html.twig" %}

{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Ajouter un topic</button>
{{ form_end(form) }}

<ul>
    {% for topic in topics %}
        <li>
            <a href="{{ path('app_posts', {'topicId': topic.id}) }}"><strong>{{ topic.name }}</strong></a> - Créé le {{ topic.dateCreation|date('d-m-Y') }}
            {% if topic.locked %}
                (Verrouillé)
            {% endif %}
            - Par {{ topic.user.nickname }} 
        </li>
    {% else %}
        <li>Aucun topic trouvé pour cette catégorie.</li>   
    {% endfor %}
</ul>
{% include "_partials/_rules.html.twig" %}
</main>
{% endblock %}
