{% extends 'base.html.twig' %}

{% block meta_description %}
<meta name="description" content="blog where the artist Manon Mangeol can expose her work">
{% endblock %}
{% block javascripts %}
<script src="https://cdn.tiny.cloud/1/wf9m32hoge9fgzzk0h8hap6mwf2v3fiz60uexkh7eh1jqe8t/tinymce/5/tinymce.min.js"
  referrerpolicy="origin"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    tinymce.init({
      selector: 'textarea.mce', //sélecteur correspond à textarea
      language: 'fr_FR',
      setup: function (editor) {
        editor.on('change', function () {
          editor.save(); // Synchronise le contenu de TinyMCE avec le textarea à chaque changement
        });
      }
    });

    var form = document.querySelector('.post-form');
    form.addEventListener('submit', function (e) {
      tinymce.triggerSave(); // Synchronise le contenu de TinyMCE avec le textarea avant la soumission
    });
  });
</script>

{% endblock %}
{% block title %}{{ article.getTitle }}{% endblock %}

{% block body %}

<div class="single-article">
  <h2>{{ article.title }}</h2>
  <div class="article">
    <p>{{ article.content|raw }}</p>
    <img src="{{ asset('img/' ~ article.photo) }}" alt="Illustration" class="image-reduite"
      onclick="openModal(this.src)">
  </div>
  <div class="foot-article">
    <p>Posté le : {{ article.dateCreation|date('d-m-Y') }}</p>
    <p>Par : {{ article.getUser.getNickname }}</p>
  </div>

  <div class="comment-article">

    <h3>Commentaires:</h3>
    {% for quote in article.getQuoteArticle %}
    <div>
      <strong>{{ quote.getUser.getNickname }}</strong>
      <p>{{ quote.getContent }}</p>
      <p>Posté le {{ quote.getDateCreation|date('d/m/Y') }}</p>
    </div>
    {% endfor %}

      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button type="submit" class="btn-blue">Commenter</button>
      {{ form_end(form) }}

  </div>

  <!-- Modal -->
  <div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01" alt="Illu">
  </div>
  {% endblock %}

